@media (max-width: 1023px) {
    .app{
        margin: 0;
        
    }
    .nav{
        flex-wrap: wrap;
    }
    .cart-wrap{
        display: none;
    }
    .delivery-wrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .delivery-wrap-text{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .categories__heading{
        display: none;
    }
    .categories__option{
        color: black;
        font-size: 2rem;
        position: relative;
        margin-bottom: 15px;
    }
    .categories__option::after{
        position: absolute;
        content: "";
        background-color: red;
        width: 100px;
        height: 1px;
        bottom: 10px;
        left: 15px;
    }
    .menu{
        margin-bottom: 8px;
    }
    .menu__wrap{
        margin:  8px;
        
        justify-content: space-between;
    }
    .menu__item{
        flex: 0 0 48%;
        margin: unset;
        padding: 2px;
        margin-bottom: 16px;
    }

    .menu__img{
        flex-wrap: wrap;
        justify-content: unset;
    }
    .menu__img-1, .menu__img-2{
        width: 100%;
        max-width: unset;
    }
    .footer{
        padding: 0;
    }
    .footer-img{
    
        margin: 0 auto;
    }

    .footer-img img{
        width: 270px;
    }
    .menu__item-info__des-icon{
        top: 0px;
    }
    .menu__item__btn-wrap{
        flex-wrap: wrap;
        gap: 8px;
        
    }
    .menu__item-btn{
        
        width: 100%;
        padding: 8px;
        text-align: center;
    }
    .menu__item-btn:not(:last-child){
        margin-top: 30px;
    }
    .col-1{
        width: 100%;
        flex: unset;
       
    }
    .card-list{
        margin: 0 40px;
        flex-wrap: wrap;
        flex-direction: unset;
        gap: 5px;
        justify-content: center;
    }
    .card-item{
        flex: 24%;
        font-size: 1.2rem;
        text-align: center;
    }
    .col-1:nth-child(2){
        display: none;
    }
    .col-1:nth-child(3){
        display: none;
    }
    .mb{
        display: unset;
    }
    .col{
        margin-top: 20px;
        padding:0 12px;
    }
    .footer-contact__input-wrap{
        justify-content: space-between;
        
    }
    .footer-contact__input{
        flex: 1;
    }


    .footer-info{
        margin: 0 12px;
    }
    .footer-info__wrap{
        flex-wrap: wrap;
    }
    .footer-info__address{
        width: 100%;
    }
    .footer-info__img{
        margin: 20px auto 0;
    }
    .col-wrap{
        display: none;
    }
    .card-item{
        font-size: 1rem;
    }
    .mbb{
        display: block;
    }
}

@media (max-width: 739px) {
    .menu__nav-item{
        font-size: 1.4rem;
        
    }

    .modal, .authen{
        display: none;
    }
    .authen-wrap{
        margin: 0;
        display: flex;
        justify-content: unset;
    }
    .logo-img{
        display: none;
    }
    .mobile-logo-img img{
        max-width: 63px;
    }
    .mobile-btn img{
        max-width: 45px;
    }
}

